<div class="row mx-auto">

    <div (click)="verArtista(item)" class="card m-1 puntero" style="width: 24%;" *ngFor="let item of items">
        <img class="card-img-top" [src]="item.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="card-text">
                <span *ngFor="let artista of item.artists" class="badge rounded-pill bg-primary m-1">
                    {{artista.name}}
                </span>

            </p>
          
        </div>
    </div>
</div>
